@import "tailwindcss";
@import './variables/colors.css';
@import './variables/spacing.css';
@import './variables/typography.css';

html {
    font-size: 16px;
}

body {
    background: var(--color-1);
    width: 100%;
    height: 100vh;
}

.container-content {
    display: flex;
    flex-direction: column;
    grid-column: span 4 / span 4;
}

.page-content {
    position: relative;
    flex: 1;
    border: 1px solid var(--color-3);
    background: var(--color-white);
    
    border-radius: 10px;
    margin: var(--margin-main);
    padding: var(--padding-main);

    color: var(--font-color);
}

.page-auth {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}




a {
    color: var(--font-color-link);
}

