.loader,
.found {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 50;
}   

.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    animation: spin 1s linear infinite;
}

.found_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.found_container h3 {
    font-size: 25px;
    font-weight: 900;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}