.sidebar {
    border: 1px solid var(--color-3);
    background: var(--color-white);
    
    border-radius: 10px;
    margin: var(--margin-main);
    padding: var(--padding-main);

    color: var(--font-color);
}