:root {
    --color-white: #FFF;
    --color-1: #f5f5f5;
    --color-2: #e7e7e7;
    --color-3: #cdcdcd;
    --color-4: #b1b1b1;
    --color-5: #9a9a9a;
    --color-6: #8b8b8b;
    --color-7: #848484;
    --color-8: #717171;
    --color-9: #646464;
    --color-10: #504f4f;
}