.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 0;
    opacity: 0;
    pointer-events: auto;
    background: rgba(0,0,0,0);
    transition: opacity 0.3s ease, background 0.3s ease;
}

.modal_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: var(--color-white);
    border-radius: 5px;

    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-main);
}

.modal_title {
    font-size: 14px;
    line-height: 16px;
}

.modal_body {
    padding: var(--padding-main);
    padding-top: 0;
}

.wrapper.open {
    z-index: 100;
    opacity: 1;
    pointer-events: auto;
    background: rgba(0,0,0,0.3);
}

.modal.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


.modal_size__xs {
    max-width: calc(20rem * 1);
    width: 100%;
}

.modal_size__sm {
    max-width: calc(23.75rem * 1);
    width: 100%;
}

.modal_size__md {
    max-width: calc(27.5rem * 1);
    width: 100%;
}

.modal_size__lg {
    max-width: calc(38.75rem * 1);
    width: 100%;
}

.modal_size__xl {
    max-width: calc(48.75rem * 1);
    width: 100%;
}