.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper_content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}