.avatar {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.avatar:hover .avatar_change {
    transform: translateY(0);
}

.avatar span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-5);
    border-radius: 7px;
    background: var(--color-3);
    font-weight: 700;
    height: inherit;
}

.avatar_change {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    background: var(--color-7);
    cursor: pointer;

    transition: transform 0.3s ease;
    z-index: 10;
}

.avatar_file {
  position: absolute;
  z-index: -10;
  cursor: pointer;
}

.avatar_size__xs {
    width: var(--size-avatar-xs);
    height: var(--size-avatar-xs);
}

.avatar_size__sm {
    width: var(--size-avatar-sm);
    height: var(--size-avatar-sm);
}

.avatar_size__md {
    width: var(--size-avatar-md);
    height: var(--size-avatar-md);
}

.avatar_size__lg {
    width: var(--size-avatar-lg);
    height: var(--size-avatar-lg);
}

.avatar_size__xl {
    width: var(--size-avatar-xl);
    height: var(--size-avatar-xl);
}

.avatar_size__2xl {
    width: var(--size-avatar-2xl);
    height: var(--size-avatar-2xl);
}