.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.music_title {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.music_inputs {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    width: 100%;
    gap: 20px;
}

.music_inputs__line {
    display: flex;
    gap: 20px;
    width: 100%;
}