.user {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* overflow: hidden; */
}

.avatar {
    flex-shrink: 0;
}

.names {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-width: 0;
}

.names_name {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.names_email {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-7);
}

.names_name,
.names_email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}